<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Lập Trình Web Phía Máy Chủ - Nguyễn Tuấn Kiệt" />
    <meta name="author" content="Nguyễn Tuấn Kiệt, TanNhatCMS, Full Stack Developer" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/assets/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"/>
    <title><%= page ? page : 'Lập Trình Web Phía Máy Chủ'%> - Nguyễn Tuấn Kiệt</title>
    <meta name="description" content="<%= description %>" />
</head>
